* {
    scrollbar-width: none;
}

:root {
  --primary: #5600a5;
  --highlight: #ccccff;
}

.KHsButton {
    height: 40px;
    width: 240px;
    margin-left: 5px;
    margin-top: 5px;
    display: inline-block;
    overflow: hidden;
    border: 1px solid var(--primary);
    color: var(--highlight);
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 24px;
}

.KHsButton:hover {
    box-shadow: 0px 0px 5px 1px var(--primary), 0px 0px 5px 1px var(--primary) inset;
}

.KHsSharpen {
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.KHsFull {
    height: 100%;
    width: 100%;
}

#KHsMenu {
    display: none;
    position: fixed;
    height: calc(100vh - 10px);
    width: calc(100vw - 10px);
    left: 5px;
    top: 5px;
    z-index: 2147483647;
    border-top: solid 1px var(--primary);
    border-bottom: solid 1px var(--primary);
}

#KHsMenuBackground {
    position: absolute;
    background-color: #000;
    opacity: 0.8;
    z-index: -1;
}

#KHsTitle {
    margin: 0px;
    width: 100%;
    height: 48px;
    font-size: 40px;
    line-height: 48px;
    vertical-align: middle;
    font-family: 'Roboto', arial, sans-serif;
    border-bottom: solid 1px var(--primary);
    color: var(--highlight);
    padding-left: 5px;
}
